<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissable fade show col-8 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" style="margin-left: 32rem !important;"
        data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


<% if(error && error.length){ %>
    <div class="alert alert-danger alert-dismissable fade show col-8 offset-3" role="alert" style="margin-left: 10rem;">
        <%= error %>
        <button type="button" class="btn-close alert-dismissible" style="margin-left: 32rem !important;"
        data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>